{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Edicto{% endblock %}

{% block custom_head %}
   <style>
        .disabled-link {
            color: #999; /* Cambia el color del texto para indicar deshabilitado */
            cursor: not-allowed; /* Cambia el cursor para indicar que no es clickeable */
            text-decoration: none; /* Elimina cualquier decoración de enlace (subrayado) */
            pointer-events: none; /* Deshabilita eventos de puntero (evita clics) */
        }
   </style>
{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Edicto') %}
        {{ topbar.button_previous('Edictos', url_for('edictos.list_active')) }}
        {% if current_user.can_insert('EDICTOS') and current_user.autoridad_id == edicto.autoridad_id %}
            {{ topbar.button_upload('Subir', url_for('edictos.new')) }}
        {% endif %}
        {# Los usuarios con permiso para editar pueden editar, eliminar y recuperar siempre y cuando sea el usuario que lo creo #}
        {% if current_user.can_admin('EDICTOS') or (current_user.can_edit('EDICTOS') and edicto.autoridad_id == current_user.autoridad_id) %}
            {{ topbar.button_edit('Editar', url_for('edictos.edit', edicto_id=edicto.id)) }}
            {% if edicto.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('edictos.delete', edicto_id=edicto.id)) }}{% endif %}
            {% if edicto.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('edictos.recover', edicto_id=edicto.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=edicto.estatus) %}
        {{ detail.label_value('Distrito', edicto.autoridad.distrito.nombre) }}
        {{ detail.label_value('Notaria', edicto.autoridad.descripcion) }}
        {{ detail.label_value('Descripción', edicto.descripcion) }}
        {{ detail.label_value('Número de publicación', edicto.numero_publicacion) }}
        {{ detail.label_value('Veces a publicar', edicto.acuse_num) }}
        {{ detail.label_value('Fecha de publicación', edicto.fecha) }}
        <div class="row mt-2">
            <div class="col-md-6">
                {{ detail.button_md('Enlace público para descargar PDF', edicto.descargar_url, 'mdi:download', '_blank') }}
            </div>
            <div class="col-md-6">
                {{ detail.button_md('Ver Acuse', url_for('edictos.checkout', id_hashed=edicto.encode_id()), 'mdi:eye', '_blank') }}
            </div>
        </div>
    {% endcall %}
    {# Listado de acuses #}
     {% if current_user.can_view('EDICTOS ACUSES') %}
        {% call detail.card('Publicaciones en fechas futuras') %}
            <!-- Filtros EdictosAcuses -->
            <div class="row">
                <div class="col">
                    <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosEdictosAcuses.buscar(); return false;">
                        <div class="col-6">
                            <div class="form-floating">
                                <input id="filtroEdictosAcusesDescripcion" type="text" class="form-control" aria-label="Descripción" style="text-transform: uppercase;">
                                <label for="filtroEdictosAcusesDescripcion">Descripción</label>
                            </div>
                        </div>
                        <div class="col-6 text-end">
                            <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosEdictosAcuses.buscar(); return false;" id="button-buscar"><span class="iconify" data-icon="mdi:magnify"></span></button>
                            <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosEdictosAcuses.limpiar();" id="button-limpiar"><span class="iconify" data-icon="mdi:broom"></span></button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- DataTable EdictosAcuses -->
            <table id="edictos_acuses_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Fecha de publicación</th>
                        <th>Descripción del edicto</th>
                        <th>Acuse</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
    {% call detail.card() %}
        <object data="{{ url_for('edictos.view_file_pdf', edicto_id=edicto.id) }}" type="application/pdf" width="100%" height="600px">
            <p class="mb-0">El navegador no puede mostrar el archivo PDF o no existe en el depósito.</p>
        </object>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {# Los usuarios que pueden insertar registros tienen permiso para eliminar y recuperar #}
    {% set descrito = 'el edicto del ' + edicto.fecha.strftime("%Y-%m-%d") + ' de ' + edicto.autoridad.descripcion_corta %}
    {% if current_user.can_insert('EDICTOS') %}
        {% if edicto.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar ' + descrito + '?') }}{% endif %}
        {% if edicto.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar ' + descrito + '?') }}{% endif %}
    {% endif %}

    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        // Definir el constructor para DataTables
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
    </script>
    {% if current_user.can_view('EDICTOS ACUSES') %}
        <script>
            // DataTable Edictos Acuses
            let configDTEdictosAcuses = constructorDataTable.config();
            configDTEdictosAcuses['ajax']['url'] = '/edictos_acuses/datatable_json';
            configDTEdictosAcuses['ajax']['data'] = { 'estatus': "A", 'edicto_id': {{ edicto.id}} };
            configDTEdictosAcuses['columns'] = [
                { data: 'detalle' },
                { data: 'edicto_descripcion' },
                { data: 'acuse_recepcion' },
            ];
            configDTEdictosAcuses['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return data.fecha;
                    }
                },
                {
                    targets: 1, // descripcion
                    data: null,
                    render: function(data, type, row, meta) {
                        if(data.length > 32)
                            return '<span title="' + data + '"><span title="' + data + '">' + data.substr(0, 32) + '…'  + '</span>';
                        return data;
                    }
                },
                {
                    targets: 2, // acuse_recepcion
                    data: null,
                    render: function(data, type, row, meta) {
                        if(data === "No disponible"){
                            return '<span class="disabled-link">Se mostrará hasta la fecha de publicación</span>'
                        }else{
                            return '<a href="' + data + '" target="_blank">Ver acuse recepción</a>';
                        }
                    }

                }
            ];
            // Filtros Edictos Acuses
            const filtrosEdictosAcuses = new FiltrosDataTable('#edictos_acuses_datatable', configDTEdictosAcuses);
            filtrosEdictosAcuses.agregarInput('filtroEdictosAcusesDescripcion', 'descripcion');
            filtrosEdictosAcuses.precargar();
        </script>
    {% endif %}
{% endblock %}
